HELP.md
.gradle
build/
*bin/
!**/src/main/**
!**/src/test/**
logs
scripts/copy_staging_db.sh

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
data/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/


### MacOS ###
*.Ds_Store
com.arava.persistence.entity.*
